%article.talk{ :"data-id" => talk.id }
  %header
    %h3.title
      = link_to talk.name, talk
    %div.presenter
      %a{:href => user_path(talk.user) }
        = image_tag(get_gravatar(talk.user, 50))
        %span.name= talk.user
    %div.meta
      %time.start{ :datetime => talk.start_at, :"data-unix" => talk.start_at.to_time.to_i }
        = time_ago_in_words talk.start_at
      %time.end{ :datetime => talk.end_at, :"data-unix" => talk.end_at.to_time.to_i }
        = time_ago_in_words talk.end_at
      %span.remaining{ :"data-seconds" => talk.remaining.seconds }
        = "#{talk.remaining.minutes} minutes"
  %div.description
    = textilize(talk.description).try(:html_safe)