= render :partial => 'user_card', :locals => {:user => @user}

.main
  %h1
    = @user.full_name
    %small (That's you!)

  %section.about_me
    - if @user.bio
      %article.bio
        %h2 About me
        = textilize(@user.bio).try(:html_safe)

    %p.skills Skills: #{@user.skill_list.join(', ')}

    %p.interests Interests: #{@user.interest_list.join(', ')}


  %section.projects
    %p.add= link_to 'Add a project', new_user_project_path(@user)
    %h2 My Projects

    - if @user.projects.any?
      = render @user.projects
    - else
      %p
        Tell us what you are working on &#8212;
        = link_to 'create a new project', new_user_project_path(@user)
