%section.notices
  %h1= link_to 'Message board', message_board_camp_path(Camp.current), :title => 'view all notices'
  %p.view_all= link_to 'view all messages', message_board_camp_path(Camp.current)
  
  - if @latest_notice
    %h2= @latest_notice.title
    = textilize(@latest_notice.content).try(:html_safe)

.main
  %section.talks
    %p.view_all= link_to 'view all talks', talks_path
    %h1= link_to "Today's talks", talks_path, :title => 'view all talks'
    - @venues.each do |venue|
      = render :partial => 'talks_for_location_list', :locals => { :location => venue, :talks => @todays_talks_by_venue_id[venue.id]}
            
  %section.projects
    %p.view_all= link_to 'view all projects', projects_path
    %h1= link_to 'Random projects', projects_path, :title => 'view all projects'
    = render :partial => 'projects/projects', :locals => { :projects => @projects }
