%section.notices
  %header
    %h1= link_to 'Message board', message_board_camp_path(Camp.current), :title => 'view all notices'
    %ul.actions
      %li.more= link_to 'view all messages', message_board_camp_path(Camp.current)
  
  - if @latest_notice
    %h2= @latest_notice.title
    = textilize(@latest_notice.content).try(:html_safe)

%section.talks
  %header
    %h1= link_to "Upcoming talks", talks_path, :title => 'view all talks'
    %ul.actions
      %li.more= link_to 'view all talks', talks_path

  - @talks.each do |talk|
    = render talk

%section.events
  %header
    %h1
      =# link_to "Events", events_path, :title => 'view all events'
      Events
  
  - @events.each do |event|
    = render event

%section.projects
  %header
    %h1= link_to 'Random project', projects_path, :title => 'view all projects'
    %ul.actions
      %li.more= link_to 'view all projects', projects_path

  - if @project
    = render @project
  - else
    %p there are no projects!

