%section.notices.drop-shadow
  %h1= link_to 'Message board', message_board_camp_path(Camp.current), :title => 'view all notices'
  %p.view_all= link_to 'view all messages', message_board_camp_path(Camp.current)
  
  - if @latest_notice
    %h2= @latest_notice.title
    = textilize(@latest_notice.content).try(:html_safe)

.main
  %section.talks
    %p.view_all= link_to 'view all talks', talks_path
    %h1= link_to "Today's talks", talks_path, :title => 'view all talks'
    %ol
      %li.location
        %h2 Location: Library
        %ul
          = render :partial => 'talk_li', :collection => @todays_talks, :as => :talk
            
  %section.projects
    %p.view_all= link_to 'view all projects', projects_path
    %h1= link_to 'Random projects', projects_path, :title => 'view all projects'
    %ol
      %li.project#project_1
        %h3= link_to 'happy campers', '#'
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut aliquip ex ea commodo consequat
          = link_to 'more&#8230;', '#', :class => 'more'
        %p.help Could use help with this one