.layout-group
  %section.events.summary-list.layout-item
    %header
      %h1
        =# link_to "Events", events_path, :title => 'view all events'
        Events

    - @events.each do |event|
      = render event

    %footer
      %ul.actions.as-buttons
        %li.more= link_to 'view all events', events_path

  %section.notices.summary-list.layout-item
    %header
      %h1= link_to 'Message board', message_board_camp_path(current_camp), :title => 'view all notices'

    - if @latest_notice
      %h2= @latest_notice.title
      = textilize(@latest_notice.content).try(:html_safe)

    %footer
      %ul.actions.as-buttons
        %li.more= link_to 'view all messages', message_board_camp_path(current_camp)

.layout-group
  %section.talks.summary-list.layout-item
    %header
      %h1= link_to "Upcoming talks", talks_path, :title => 'view all talks'

    - @talks.each do |talk|
      = render talk

    %footer
      %ul.actions.as-buttons
        %li.more= link_to 'view all talks', talks_path

  %section.projects.summary-list.layout-item
    %header
      %h1= link_to 'Random project', projects_path, :title => 'view all projects'

    - if @project
      = render @project
    - else
      %p there are no projects!

    %footer
      %ul.actions.as-buttons
        %li.more= link_to 'view all projects', projects_path

