= semantic_form_for([current_user, @project]) do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :name
    = f.input :description, :hint => 'Textile supported'
    = f.input :help, :label => 'Need help?'

  = f.actions
