%li[project]
  %h3= link_to project.name, user_project_path(project.owner, project)
  - if current_user and project.owner != current_user
    %p
      by
      = link_to project.owner.full_name, user_path(project.owner)
  - if project.description
    %p= truncate(textilize(project.description), :length => 100).try(:html_safe)
  - if project.needs_help?
    %p.help Could use help with this one
  - if project.owner == current_user
    %p.actions
      = link_to 'Edit this project', edit_user_project_path(project.owner, project)
      |
      = link_to 'Delete this project', user_project_path(project.owner, project), :confirm => 'Are you sure you want to delete this project?', :method => :delete
