- if current_user
  %p.add
    = link_to 'Add a project', new_user_project_path(current_user)

%h1 All projects

%table.projects
  %thead
    %tr
      %th.name Name
      %th.people Owner
      %th.helpme Needs Help
      %th.status Status
  %tbody
    - @projects.each do |project|
      %tr.project{:class => cycle('odd','even')}
        %td
          = link_to project.name, user_project_path(project.owner, project), :class => "name"
          - if project.description
            .description
              = smart_description(project)
        %td= link_to project.owner, user_path(project.owner)
        %td= project.needs_help? && "Yes" || nil
        %td= project.status
