- content_for :title do
  = @project.name

- content_for :content_header do
  #actions
    %ul.actions.as-buttons
      - if is_owner?
        %li= link_to 'Edit project', edit_user_project_path(@project.owner, @project)

= render :partial => 'users/user_card', :locals => {:user => @project.owner}

.main
  - if @project.description
    .description
      = raw textilize(@project.description)

  %p.status
    %b Status:
    = @project.human_status_name

  - if is_owner?
    %ul.actions
      - if @project.active?
        %li= link_to 'Completed!', complete_user_project_path(@project.owner, @project)
        %li.destroy= link_to 'Can it!', cancel_user_project_path(@project.owner, @project)
      - else
        %li= link_to 'Start it up again?', restart_user_project_path(@project.owner, @project)
