- content_for :title do
  = @project.name

= render :partial => 'users/user_card', :locals => {:user => @project.owner}

.main
  %p.add
    = link_to 'Edit project', edit_user_project_path(@project.owner) if is_owner?

  - if @project.description
    .description
      = textilize(@project.description).try(:html_safe)

  %p.status
    %b Status:
    = @project.status

  - if is_owner?
    %p.commands
      - if @project.active?
        = link_to 'Completed!', complete_user_project_path(@project.owner, @project)
        |
        = link_to 'Can it!', cancel_user_project_path(@project.owner, @project), :class => "destroy"
      - else
        = link_to 'Start it up again?', restart_user_project_path(@project.owner, @project)