!!!
%html
  %head
    %meta{:charset => "utf-8"}
    
    %title Railscamp Ideagora

    = stylesheet_link_tag 'master'
    = stylesheet_link_tag 'vendor/jquery-ui-smoothness/jquery-ui-1.8.13.custom.css'
    
    = javascript_include_tag :defaults

    = csrf_meta_tag
    
    = yield :header
    
  %body{:id => @body_id || controller.controller_name, :class => controller.action_name }
    #wrapper
      %header#header
        = render :partial => 'common/user_nav'
        %h1=link_to 'Railscamp 9', root_path

      %nav#main_nav
        %ul
          %li= link_to 'Welcome', root_path
          %li= link_to 'Campers', users_path
          %li= link_to 'Projects', projects_path
          %li= link_to 'Talks', talks_path

      #content
        = flash_helper.html_safe
        = yield
        = render :partial => 'common/discussion'