!!!
%html
  %head
    %meta{:charset => "utf-8"}
    
    %title Railscamp Ideagora

    = stylesheet_link_tag 'master'
    = stylesheet_link_tag 'vendor/jquery-ui-smoothness/jquery-ui-1.8.13.custom.css'
    
    = javascript_include_tag :defaults

    = csrf_meta_tag
    
    = yield :header
    
  %body{:id => @body_id || controller.controller_name, :class => controller.action_name }
    #wrapper
      %header#header
        #user_nav
          %p
            - if current_user
              Logged in as
              = link_to current_user.email, user_path(current_user)
              &lowast;
              = link_to "Edit my profile", edit_user_path(current_user)
              - if organiser?
                &lowast;
                = link_to 'New notice', new_notice_path
              &lowast;
              = link_to "Log out", log_out_path
            - else
              = link_to "Sign in", sign_in_path
              
        %h1=link_to 'Railscamp 9', root_path

      %nav#main_nav
        %ul
          %li= link_to 'Welcome', root_path
          %li= link_to 'Campers', users_path
          %li= link_to 'Projects', projects_path
          %li= link_to 'Talks', talks_path

      #content
        = flash_helper.html_safe
        - if content_for? :title
          %h1= yield :title
        = yield :content_header if content_for? :content_header
        = yield
        - if @discussion
          #discussion
            %h3= @discussion.title || "Discuss this page"
            %p Anyone can edit this text.  Please do so with care.

            = simple_form_for(@discussion) do |f|
              = f.input :text, :label => false
              = f.button :submit
